name: Cabal CI
on:
  - push
  - pull_request
jobs:
  cabal:
    name: Cabal - ${{ matrix.os }} - ${{ matrix.plan.ghc }}
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.plan.allow-failure == true }}
    strategy:
      matrix:
        plan:
          - ghc: 8.10.7
            cabal: 3.6
          - ghc: 8.10.7
            cabal: 3.8
          - ghc: 8.10.7
            cabal: latest
          - ghc: 9.0.2
            cabal: 3.6
          - ghc: 9.0.2
            cabal: 3.8
          - ghc: 9.0.2
            cabal: latest
          - ghc: 9.2.8
            cabal: 3.6
          - ghc: 9.2.8
            cabal: 3.8
          - ghc: 9.2.8
            cabal: latest
          - ghc: 9.4.6
            cabal: 3.8
          - ghc: 9.4.6
            cabal: latest
          - ghc: latest
            cabal: latest
            allow-failure: true
        os: [ubuntu-latest, macOS-latest]

    steps:
      - name: Cache Cabal build artifacts
        uses: actions/cache@v2
        with:
          path: |
            ${{ steps.setup-haskell-build-env.outputs.cabal-store }}
            dist-newstyle
          key: ${{ runner.os }}-cabal-${{ matrix.plan.ghc }}-${{ hashFiles('cabal.project.freeze') }}
          restore-keys: |
            ${{ runner.os }}-cabal-${{ matrix.plan.ghc }}
      - uses: actions/checkout@v3
      - name: Setup Haskell
        uses: haskell/actions/setup@v2
        with:
          ghc-version: ${{ matrix.plan.ghc }}
          cabal-version: ${{ matrix.plan.cabal }}
      - name: Build & test
        run: |
          cabal v2-build all --enable-tests
          cabal v2-test all
